@import "../../../app";

.leftSideBar-leftDesktopSection {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $default-primary-color;
  transition:all ease 0.5s;
  z-index: 1;
  overflow-y: auto;
}
