@import "../app";

.custom-table {
  margin: 5% 0;
  font-family: $secondary-font-family;
  font-size: 15px;
  color: $primary-text-color;
}

.link-text {
  font-family: $secondary-font-family;
  font-size: 15px;
  color: $primary-text-color;
}

.link, .link:focus, .link:hover  {
  color: $accent-color;
}

.action-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Icon Button */
.icon-button {
  $button-size: calc(62px * 0.5);
  width: $button-size;
  height: $button-size;
  background-color: $default-primary-color;
  border-radius: 50%;
  padding: 6px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms;
}

.icon-button:hover {
  filter: brightness(1.5);
  transform: scale(1.05);
}

.icon-button svg {
  fill: $background-primary-color;
  width: 20px;
  height: 20px;
}


