@import "../app";

.row-header {
  margin: 15px 0 10px;
}

.row-header h3 {
  font-family: $secondary-font-family;
  font-size: 22px;
  color: $secondary-text-color;
  margin: 5px 10px 5px 0;
}

.arrow-button {
  width: 32px;
  height: 32px;
  background-color: $default-primary-color;
  fill: $background-primary-color;
  border-radius: 50%;
  padding: 6px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms;
}

.arrow-button:hover {
  cursor: pointer;
  filter: brightness(1.5);
  transform: scale(1.05);
}

.cards {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  min-width: 180px;
  height: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 1% 2% 1% 0;
  box-shadow: $box-shadow;
  border-radius: 12px;
  transition: .5s;
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 220px;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 667px) {
  .card {
    width: 245px;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 414px) {
  .card {
    width: 270px;
    margin: 2% auto;
  }
}

.card:hover, .card:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.card-container {
  text-decoration: none;
  color: $primary-text-color;
}

.card-img {
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-img img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  margin: 5% auto;
}

.card-body {
  padding: 0 10px;
  font-size: 18px;
}

.card-item-footer {
  margin-top: auto;
}

.itemPrice {
  font-weight: bold;
}

.add-to-cart-btn {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
}

.add-to-cart-btn:focus, .add-to-cart-btn:hover {
  background: $default-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
