@import "../../app";

.right-section-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .right-section-container {
    width: 30%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .right-section-container {
    width: 35%;
  }
}

@media (max-width: 568px) and (orientation: landscape) {
  .right-section-container {
    width: 40%;
  }
}

@media (max-width: 414px) {
  .right-section-container {
    width: 55%;
  }
}

@media (max-width: 375px) {
  .right-section-container {
    width: 65%;
  }
}

@media (max-width: 320px) {
  .right-section-container {
    width: 70%;
  }
}

.cart-link-button {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  padding: 0.5em 1em;
  justify-content: space-between;
}

.icon {
  width: 1em;
  height: 1em;
  fill: $dark-primary-color;
}

.profile-icon {
  width: 1.3em;
  height: 1.3em;
}

.products, .receipt {
  width: 45%;
}

.amount, .order-sum {
  font-family: $primary-font-family;
  font-size: 18px;
}

.amount {
  margin-left: 10px;
}

.amount:hover, .order-sum:hover {
  text-decoration: none;
}
