@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$dark-primary-color: #7B1FA2;
$default-primary-color: #9C27B0;
$light-primary-color: #E1BEE7;
$background-primary-color: #FFFFFF;
$accent-color: #E040FB;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$primary-font-family: Manrope;
$secondary-font-family: Roboto;
//font sizes: 15px 18px 22px 24px 32px

$box-shadow: 0px 0px 6px $divider-color;

* {
  outline: none;
  box-sizing: border-box;
}

.login-container, .profile-container, .container-404 {
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 600px;
  background:  $background-primary-color;
  box-shadow: $box-shadow;
  border-radius: 12px;
  font-family: $primary-font-family;
}

.modalHeader {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.modalHeader h2 {
  font-size: 24px;
  color: $dark-primary-color;
}

.return-btn {
  width: 25%;
  height: 32px;
  margin: 5%;
  padding: 5%;
  background-image: url("../assets/icons/left-arrow.png");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.return-btn:focus, .return-btn:hover {
  opacity: 1;
}
