@import './app';

.app-logo {
  width: 60%;
  height: 22%;
  margin-bottom: 5%;
}

.login-title {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  color: $dark-primary-color;
  margin-bottom: 10%;
}

.login-input {
  //width: 100%;
  font-family: $secondary-font-family;
  font-size: 18px;
  color: $primary-text-color;
  outline: 0;
  border-width: 0 0 2px;
  border-color: $light-primary-color;
  padding-bottom: 2%;
  margin-bottom: 7%;
}

.login-social-networks {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17%;
}

.social-n {
  margin: 0 17%;
  opacity: 0.3;
}

.social-n:focus, .social-n:hover {
  opacity: 1;
  cursor: pointer;
}

.input-error {
  width: 100%;
  font-size: 15px;
  color: $accent-color;
  display: none;
}

.btn {
  width: 200px;
  //-webkit-appearance: button;
  //-moz-appearance: button;
  height: 36px;
  background: $light-primary-color;
  border-radius: 10px;
  color: $dark-primary-color;
  font-family: $secondary-font-family;
  font-size: 22px;
  padding: 2px;
  margin-top: 10%;
  border: 0;
}

.btn:focus, .btn:hover {
  background: $dark-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}
