@import "./app";

.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.navigation {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media print {
  .navigation {
    display: none;
  }
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  display: block;
  height: 70px;
  width: 70px;
  margin: 40px;
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .5s;
}

@media only screen and (max-width: 823px) {
  .nav-links li a {
    height: 50px;
    width: 50px;
    margin: 12px;
  }
}

.profile-link {
  background-image: url("../assets/icons/user.png");
}

.profile-link:focus, .profile-link:hover {
  background-image: url("../assets/icons/user-active.png");
  transform: scale(1.15);
}

.cart-link {
  background-image: url("../assets/icons/shopping-cart.png");
}

.cart-link:focus, .cart-link:hover {
  background-image: url("../assets/icons/shopping-cart-active.png");
  transform: scale(1.15);
}

.cart-items-count {
  position: fixed;
  background-color: $ncs-red-color;
  width: 20px;
  height: 20px;
  font-size: 13px;
  padding: 1px;
  top: 2.2%;
  margin-left: 4.7%;
  border-radius: 50%;
  text-align: center;
  color: $background-primary-color;
}
//
//@media only screen and(orientation: portrait) {
//  .cart-items-count {
//    top: 4%;
//  }
//}

//@media only screen and(orientation: landscape) {
//  .cart-items-count {
//    top: 6%;
//  }
//}

.discount-link {
  background-image: url("../assets/icons/discount.png");
}

.discount-link:focus, .discount-link:hover {
  background-image: url("../assets/icons/discount-active.png");
  transform: scale(1.15);
}

.logout-link {
  background-image: url("../assets/icons/logout.png");
}

.logout-link:focus, .logout-link:hover {
  background-image: url("../assets/icons/logout-active.png");
  transform: scale(1.15);
}

.content-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.cards {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-icons {
  width: 100%;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5%;
  visibility: hidden;
}

.details {
  margin-right: 5%;
  opacity: 0.3;
}

.details:hover, .details:focus {
  opacity: 1;
}

.add {
  opacity: 0.3;
}

.add:hover, .add:focus {
  opacity: 1;
}

.card {
  width: calc(100% / 8 - 30px);
  min-width: 210px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.6%;
  box-shadow: $box-shadow;
  border-radius: 12px;
  transition: .5s;
}

@media only screen and (max-width: 823px) {
  .card {
    margin: 4% auto;
  }
}

@media only screen and (max-width: 823px) and (orientation: landscape)  {
  .card {
    margin: 1.5% auto;
  }
}

.card:hover, .card:focus {
  transform: scale(1.15);
  cursor: pointer;
}

.card:hover .card-icons, .card:focus .card-icons{
  visibility: visible;
}

.card-icons:hover, .card-icons:hover {
  opacity: 1;
}

.card-container {
  text-decoration: none;
  color: $primary-text-color;
}

.card-img {
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.card-content {
  padding: 0 10px;
  font-size: 18px;
}

.itemPrice {
  font-weight: bold;
}

::-webkit-scrollbar {
  display: none;
}
