@import "./app";

.profile-container {
  width: 450px;
  height: 750px;
  overflow: hidden;
}

.modalHeader {
  height: 15%;
}


@media only screen and (min-width: 320px)  and (orientation: portrait) {
  .modalHeader {
    padding-top: 18%;
  }
  .outer-wrapper {
    margin-bottom: -5%;
  }
}

@media only screen and (min-width: 375px)  and (orientation: portrait) {
  .modalHeader {
    padding-top: 5%;
  }
}

.update-profile-form {
  margin-left: 15%;
  height: 80%;
}

.update-profile-form h3 {
  color: $dark-primary-color;
  font-size: 22px;
  text-align: start;
}

.update-profile-form .profile-info {
  color: $primary-text-color;
  text-align: start;
}

.profile-input {
  width: 80%;
  font-family: $secondary-font-family;
  font-size: 15px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: $light-primary-color;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.profile-points {
  color: $accent-color;
  font-size: 22px;
  margin-top: -5%;
}

.outer-wrapper {
  width: 350px;
  margin-bottom: 10%;
  padding: 0;
}

.inner-wrapper {
  width: 80%;
  display: flex;
  overflow-x: auto;
  margin: 0;
}

/* custom scrollbar */
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $background-primary-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: $light-primary-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-primary-color;
}

.order-item {
  width: 95%;
  position: relative;
  font-size: 15px;
  margin: 2%;
  box-shadow: $box-shadow;
  border-radius: 12px;
}

.orderItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 280px;
  height: 8%;
}

.order-info {
  height: 80px;
  text-align: start;
  padding: 12px;
}

.order-cost {
  margin-right: 12px;
  margin-top: 6px;
  font-size: 18px;
  color: $accent-color;
}

.profile-btn {
  margin-top: 5%;
  margin-left: -20%;
}
