@import "./app";

.update-profile-form {
  margin-left: 15%;
  height: 80%;
}

.update-profile-form h3 {
  color: $dark-primary-color;
  font-size: 22px;
  text-align: start;
}

.update-profile-form .profile-info {
  color: $primary-text-color;
  text-align: start;
}

.profile-input {
  width: 80%;
  font-family: $secondary-font-family;
  font-size: 15px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: $light-primary-color;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.profile-points {
  color: $accent-color;
  font-size: 22px;
  margin-top: -5%;
}

.profile-btn {
  margin-top: 5%;
  margin-left: -20%;
}
