@import "../../../app";

.leftSideBar-topDesktopSection {
  width: 100%;
  height: 4em;
  background-color: $background-primary-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;  
}

.right-section-desktop-container {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.user-settings {
  width: 250px;
}

.not-authorized {
  display: none;
}

.cart-link-button, .nav-button {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  padding: 0.5em 1em;
  justify-content: space-between;
  margin-right: 2%;
}

.icon {
  width: 1em;
  height: 1em;
  fill: $dark-primary-color;
}

.products, .receipt {
  width: 45%;
}

.username, .amount, .order-sum {
  font-family: $primary-font-family;
  font-size: 18px;
}

.amount {
  margin-left: 10px;
}

.username {
  margin-top: 2.5%;
  margin-right: 5%;
}

.amount:hover, .order-sum:hover {
  text-decoration: none;
}
