@import "../app";

.form-container {
  max-width: 550px;
  color: $primary-text-color;
  font-family: $secondary-font-family;
}

.form-text {
  font-family: $secondary-font-family;
  font-size: 15px;
}

.form-btn {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  min-width: 300px;
  width: 60%;
}

.form-btn:focus, .form-btn:hover {
  background: $default-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}

.form-btn:disabled {
  background: $secondary-text-color;
}

.login-social-networks {
  display: flex;
  flex-direction: row;
  margin-bottom: 7%;
  justify-content: center;
  //justify-content: space-between;
  //justify-items: auto;
}

.social-n {
  margin: 0 2%;
  opacity: 0.3;
}

.social-n:focus, .social-n:hover {
  opacity: 1;
  cursor: pointer;
}
