@import "../app";

.form-container {
  color: $primary-text-color;
  font-family: $secondary-font-family;
}

.form-text {
  font-family: $secondary-font-family;
  font-size: 15px;
}

.signLink, .signLink:focus, .signLink:hover  {
  color: $accent-color;
}

.form-btn {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  max-width: 330px;
  width: calc(100% - 2em);
}

.form-btn:focus, .form-btn:hover {
  background: $default-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}

.login-social-networks {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  justify-content: center;
  //justify-content: space-between;
  //justify-items: auto;
}

.social-n {
  margin: 0 2%;
  opacity: 0.3;
}

.social-n:focus, .social-n:hover {
  opacity: 1;
  cursor: pointer;
}
