@import "../../../app";

$left-sidebar-width: 20em;

.leftSideBar-leftDesktopSection {
  position: fixed;
  width: $left-sidebar-width;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $default-primary-color;
  transition:all ease 0.5s;
  z-index: 1;
  overflow-y: auto;

  .leftSideBar-leftSection-menuWrapper {
    list-style-type: none;
    margin: 1em;
    padding: 0;

    li {
      margin-bottom: 1em;
      
      a {
        font-family: $primary-font-family;
        font-size: 22px;
        font-weight: bold;
        color: $background-primary-color;
        text-decoration: none;
      }
    }
  }
}

.logo-icon {
  width: 15em;
  height: 15em;
  fill: $background-primary-color;
}

.border-line {
  border-bottom: 1px solid $background-primary-color;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-social {
  width: 1.75em;
  height: 1.75em;
  fill: $background-primary-color;
  transition: ease-in-out 100ms;
}

.icon-social:hover {
  fill: $accent-color;
  transform: scale(1.05);
}

.leftSideBar-leftSection-show {
  transform: translateX(0);
}

.leftSideBar-leftSection-hide {
  transform: translateX(-$left-sidebar-width);
}
