@import "../app";

.item-row {
  margin: 5% 0;
}

.product-details-img {
  padding: 5px;
  margin-top: 5%;
}

.product-details-img a img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .product-details-img  {
    padding: 0;
  }
}

.product-head {
  margin-bottom: 5%;
  border-bottom: 1px solid $divider-color;
}

.product-title {
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $default-primary-color;
}

.regular-price, .desc-content {
  padding: 5px;
  font-family: $secondary-font-family;
  font-size: 18px;
  color: $primary-text-color;
}

.regular-price {
  font-size: 24px;
  font-weight: bold;
}

.product-ingredients {
  list-style: square inside;
  padding: 5px;
  font-family: $secondary-font-family;
  font-size: 15px;
  color: $secondary-text-color;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.item-amount-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  width: 20%;
  margin-top: 1%;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-btn, .admin-button {
  font-family: $secondary-font-family;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  min-width: 150px;
  margin-top: 5%;
  margin-right: 3%;
}

.admin-button {
  background: $divider-color !important;
}

.product-btn {
  background: $light-primary-color;
}

.product-btn:focus, .product-btn:hover, .admin-button:focus, .admin-button:hover {
  background: $default-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}

@media only screen and (max-width: 411px) and (orientation: portrait)  {
  .product-btn, .admin-button {
    width: 100% !important;
  }
}

.select-category-container {
  margin-top: 0.8em;
  padding: 0.8em;
}

.select-category {
  //z-index: 1;
  font-family: $secondary-font-family;
  font-size: 15px;
  color: $primary-text-color;
}

.select-category {
  &-control {
    border-color: $accent-color;
  }
}

.preview-text {
  font-family: $primary-font-family;
  color: $primary-text-color;
  font-size: 16px;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

