@import "../app";

.order-req-tab-text {
  font-size: 15px;
  font-weight: 600;
  font-family: $primary-font-family;
  cursor: pointer;
  margin: 12px 0;
  transition: all 0.3s ease-in-out;
}

.order-req-tab-text:hover {
  color: $accent-color;
}

.order-req-status{
  font-size: 15px;
  font-weight: 600;
  font-family: $primary-font-family;
  letter-spacing: 1px;
}

.order-req-tab-active{
  color: $accent-color;
  border-top: 1px solid $light-primary-color;
  border-left: 1px solid $light-primary-color;
  border-right: 1px solid $light-primary-color;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.order-render-container {
  border: 1px solid $light-primary-color;
}

.container-order {
  font-family: $primary-font-family;
}

.ingredients-container {
  padding-top: 12px;
}

.order-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.order-ingredients {
  font-size: 12px;
}

.order-info {
  font-size: 14px;
  margin: 0;
}

.order-item-price {
  font-size: 16px;
}

.order-price {
  font-size: 22px;
}

.text-bright {
  color: $accent-color;
}

.order-btn {
  background: $light-primary-color;
  border-radius: 10px;
  border: 0;
  color: $dark-primary-color;
  font-size: 18px;
  min-width: 300px;
  width: 50%;
  margin-top: 12px;
}

.order-btn:focus, .order-btn:hover {
  background: $default-primary-color;
  color: $background-primary-color;
  cursor: pointer;
}

@media (max-width: 767px) {
  .order-image-container {
    display: none;
  }
  .order-req-tab-active{
    color: $background-primary-color;
    background-color: $dark-primary-color;
    border: 1px solid $light-primary-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .order-req-tab-notActive {
    border: 1px solid $light-primary-color;
  }
}
