//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//main colors:
$dark-primary-color: #5B255C;
$default-primary-color: #863788;
$light-primary-color: #EED5EE;
$background-primary-color: #FFFFFF;
$accent-color: #E040FB;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$ncs-red-color: #C20232;

$nav-size: 85px;
$border: 1px solid $default-primary-color;
$border-radius: 10px;
$speed: 500ms;

$primary-font-family: Manrope;
$secondary-font-family: Roboto;
//font sizes: 15px 18px 22px 24px 32px

$box-shadow: 0px 0px 6px $divider-color;

body {
  min-width: 320px;
  max-width: 1890px;
  margin: 0 auto;
  background: $background-primary-color;
  font-family: Manrope Roboto sans-serif;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%)
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-desktop {
  margin-left: 20%;
  width: 80%;
}

@media (min-width: 1223px) and (max-width: 1500px) {
  .main-desktop {
    margin-left: 25%;
    width: 75%;
  }
}

.main-mobile {
  width: 100%;
}

h2 {
  color: $dark-primary-color;
  font-size: 22px;
  margin-top: 3%;
}

a {
  font-family: $secondary-font-family;
  color: $primary-text-color;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: $dark-primary-color;
}

//toast messages - change default styles
.Toastify__toast--success {
  background: $default-primary-color;
}

.Toastify__toast--error {
  background: $ncs-red-color;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, [col] 1fr);
  grid-template-rows: (16, [row] 1 fr);
}

.grid-item1 {
  grid-column: span 2;
  grid-row: span 16;
}

.grid-item2 {
  grid-column: span 9;
  grid-row: span 1;
}

.grid-item3 {
  grid-column: span 9;
  grid-row: span 16;
}

.grit-item-mobile1 {
  grid-column: span 8;
  grid-row: span 1;
}

//link common style
.custom-link, .custom-link:focus, .custom-link:hover  {
  color: $accent-color;
}

//amount counter - common styles
.icon-button {
  width: 30px;
  height: 30px;
  background-color: $default-primary-color;
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms;
}

.icon-button:hover, .icon-button:focus  {
  filter: brightness(1.5);
  transform: scale(1.05);
}

.icon-button svg {
  fill: $background-primary-color;
  width: 20px;
  height: 20px;
}

.item-amount {
  font-family: $secondary-font-family;
  color: $secondary-text-color;
  font-size: 18px;
  margin: 3% 5% 0;
}

@media only screen and (max-width: 411px) and (orientation: portrait)  {
  .counter{
    margin-left: 5%;
  }
}

//scrollbar styles
::-webkit-scrollbar {
  display: block;
  width: 5px;
}

@media (max-width: 812px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background-color: $light-primary-color;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid $dark-primary-color;
  border-radius: 5px;
}

