@import "../app";

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar {
  height: $nav-size;
}

.nav-logo {
  margin-left: 5%;
  width: 124px;
  height: 70px;
}

@media (max-width: 812px) {
  .nav-logo{
    width: 100px;
    height: 54px;
  }
}

/* <ul> */
.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  //max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  //margin-right: 1%;
}

a {
  font-family: $secondary-font-family;
  color: $primary-text-color;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: $dark-primary-color;
}

  /* <li> */
.nav-item {
  margin-top: 15%;
  margin-right: 15%;
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  $button-size: calc(62px * 0.5);
  width: $button-size;
  height: $button-size;
  background-color: $default-primary-color;
  border-radius: 50%;
  padding: 6px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 100ms;
}

.icon-button:hover {
  filter: brightness(1.5);
  transform: scale(1.05);
}

.icon-button svg {
  fill: $background-primary-color;
  width: 20px;
  height: 20px;
}
